@charset "UTF-8";

/*Pagina de login*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    main#cadastro {
        background-image: linear-gradient(to right, #232323, #4d4d4d);
    }

    main#cadastro > section#login {
        width: 90vw;
        height: 330px;
    }

    section#login > div#imagem {
        float: left;
        height: 100%;
        width: 30%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        height: 100%;
    }

    form > a#cc {
        
        position: fixed;
        bottom: 0;
        right: 0;
        width: 220px;
        margin-left:300px;
        display: block;
    }
}

@media screen and (min-width: 992px) {

        main#cadastro {
        background-image: linear-gradient(to left, #1a1a1a, #4d4d4d);
    }

    main#cadastro > section#login {
        width: 950px;
        height: 330px;
    }

    section#login > div#imagem {
        float: left;
        height: 100%;
        width: 40%;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
        height: 100%;
    }

    form > a#cc {

        position: fixed;
        bottom: 0;
        margin-left: -6.1px;
        border-radius: 0px;
        padding: 5px;
        display: block;
        width: 73%;
    }
}

/*Pagina de recupera senha*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    main#tela > section#recuperacao {
        width: 60vw;
        height: 300px;

    }
}

@media screen and (min-width: 992px) {
    main#tela > section#recuperacao {
        width: 590px;

    }

}

@media screen and (min-width: 768px) and (max-width: 992px){
    main#registre > section#dados {
        width: 80vw;

    }
}

@media screen and (min-width: 992px) {
    main#registre > section#dados {
        width: 700px;
    }

}
    /* tela de novo ussuario */
@media screen and (min-width: 768px) and (max-width: 992px) {
    main#registre > section#dados {
        height: 500px;
    }

    form > div#sex {
        display: none;
    }

    form > div#homebotao {
        display: flex;
        justify-content: space-around;
    }

    form > div#homebotao > input[type=submit] {
        display: inline;
        width: 300px;

    }

    form > div#homebotao > a.anterior {
        background: #919191;
        color: #121212;
        
        width: 300px;
        height: 40px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.4s;
    }
}

@media screen and (min-width: 992px) {
    main#registre > section#dados {
        width: 70vw;
        height: 650px;
    }

    form > div#homebotao {
        display: flex;
    }

    form > div#homebotao > input[type=submit] {
        display: inline;
        width: 300px;

    }

    form > div#homebotao > a.anterior {
        background: #919191;
        color: #121212;
        
        padding-top: 7px;
        text-decoration: none;
        width: 300px;
        height: 40px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.4s;
    }

    form > div#homebotao > a.anterior {
        background: #BABABA;

    }
}